:root {
     margin: 0;
}

body {
     font-family: 'Roboto', sans-serif;
}
.main-title {
     color: white;
     background: rgb(0,134,255);
     background: linear-gradient(90deg, rgba(0,134,255,1) 0%, rgba(9,9,121,1) 45%, rgba(2,0,36,1) 100%);
     text-align: center;
     padding: 10px 0px;
     width: 80%;
}

.main-title h1 {
     font-weight: 900;
}

.h3-form {
     font-weight: 700;
}

#city-list {
     border-top: 1px solid black;
}

#city-list li {
     margin-top: 10px;
     background-color: rgb(160, 160, 160);
     text-align: center;
}

#weather-box {
     border: 1px solid black;
}

#title-icon {
     width: 50px;
     margin: 0 0 5px -7px;

}

#current-temp-params {
     list-style: none;
     padding-inline-start: 0;
     line-height: 30px;

}

.future-weather {
     background-color: rgb(0, 49, 71);
     color: white;
}